!! .Xresources
#define nord0 #2E3440
#define nord1 #3B4252
#define nord2 #434C5E
#define nord3 #4C566A
#define nord4 #D8DEE9
#define nord5 #E5E9F0
#define nord6 #ECEFF4
#define nord7 #8FBCBB
#define nord8 #88C0D0
#define nord9 #81A1C1
#define nord10 #5E81AC
#define nord11 #BF616A
#define nord12 #D08770
#define nord13 #EBCB8B
#define nord14 #A3BE8C
#define nord15 #B48EAD

!*XmTextField.background:   #fdf6e3
!*XmTextField.foreground:   #657b83
!*XmText.background:        #fdf6e3
!*XmText.foreground:        #657b83
!*XmDrawingArea.background: #fdf6e3
!*XmDrawingArea.foreground: #657b83
!*XmMessageBox.background:  #fdf6e3
!*XmMessageBox.foreground:  #657b83
!*XmScrolledWindow*XmText.fontList: 9x15
!*XmText.fontList:                  9x15
!*XmTextField.fontList:             9x15

!! Color Scheme
*.foreground:   nord4
*.background:   nord0
*.cursorColor:  nord4
*fading: 35
*fadeColor: nord3
*.color0: nord1
*.color1: nord11
*.color2: nord14
*.color3: nord13
*.color4: nord9
*.color5: nord15
*.color6: nord8
*.color7: nord5
*.color8: nord3
*.color9: nord11
*.color10: nord14
*.color11: nord13
*.color12: nord9
*.color13: nord15
*.color14: nord7
*.color15: nord6

!! X Window decoration and font rendering
!!*windowTitleFont:       Noto Sans UI:style=Italic:weight=400:size=11
!!*feedbackFont:          Noto Sans UI:style=Italic:weight=400:size=10
!!*iconTitleFont:         Noto Sans UI:style=Regular:size=9
!!*renderTable:           xft
!!*Xft*fontType:          FONT_IS_XFT
!!*Xft*fontName:          Noto Sans UI Regular
!!*Xft*fontSize:          12
*toolchest*renderTable:     xft
*toolchest*xft*fontType:    FONT_IS_XFT
*toolchest*xft*fontName:    Noto Sans
*toolchest*xft*fontStyle:   Oblique
*toolchest*xft*fontSize:    10
*toolchest.clientDecoration:    title -border
*toolchest.clientFunctions: -resize -minimize -maximize

!! Motif Widgets settings
*XmList.shadowThickness:    2
*XmFrame.shadowThickness: 1
*XmMenuShell*shadowThickness: 1
*XmScale.shadowThickness:   1
*XmText*shadowThickness: 2
*XmTextField*shadowThickness: 2
*XmScrollBar.shadowThickness: 2
*XmScrolledWindow.shadowThickness:  2
*XmScrolledWindow*XmScrollBar.shadowThickness:  2
*XmMainWindow.XmScrollBar.shadowThickness: 2
*XmPushButton.shadowThickness:    1
*XmPushButtonGadget.shadowThickness:    1
*XmPushButton.highlightThickness:   1
*XmPushButtonGadget.highlightThickness: 1
*XmPushButton.marginHeight: 6
*XmPushButton.marginWidth: 7
*XmPushButtonGadget.marginHeight: 6
*XmPushButtonGadget.marginWidth: 7
*XmToggleButtonGadget.shadowThickness: 1
*XmToggleButton.shadowThickness: 1
*XmToggleButtonGadget.spacing: 4
*XmToggleButton.spacing: 4
*XmFrame.spacing: 0

!! figure out DPI with: xdpyinfo | grep -B 2 resolution
Xft.dpi:        96
!Xft.dpi:        192
Xft.autohint:   false
Xft.hintstyle:  hintslight
Xft.lcdfilter:  lcddefault
Xft.rgba:       rgb
Xft.antialias:  true
Xft.hinting:    true

!! X terminal settings
XTerm*charClass: 0-32:1,33-126:2,127-160:3,161-255:2
XTerm*colorMode:	on
XTerm*cursorBlink:	false
XTerm*cursorUnderLine:	false
XTerm*dynamicColors:	true
XTerm*eightBitInput:	true
!XTerm*faceName: xft:Consolas:pixelsize=12
XTerm*faceName: xft:DejaVu Sans Mono:pixelsize=12
!XTerm*faceName:	monospace:pixelsize=12
!XTerm*faceName:	terminusbold:pixelsize=24
XTerm*geometry:	86x40
XTerm*jumpScroll:	true
XTerm*multiScroll:	true
XTerm*rightScrollBar:	false
XTerm*saveLines:	8000
XTerm*scrollBar:	true
XTerm*scrollTtyKeypress:	true
XTerm*scrollTtyOutput:	false
XTerm*toolBar:	false
XTerm*utf8:	2
!XTerm*allowTitleOps: false
!XTerm*allowWindowOps: false
!XTerm*allowFontOps: false
!XTerm*allowTcapOps: false

!! rxvt-unicode terminal settings
!URxvt*font:     xft:mono:medium:size=10
URxvt*font:     xft:DejaVu Sans Mono:medium:size=10
!!URxvt*font:     xft:Consolas:medium:size=10
!!URxvt*font:     xft:DejaVu Sans Mono:pixelsize=12
URxvt*internalBorder:
URxvt*letterSpace: -1
URxvt*saveLines:	10000
URxvt*geometry:	86x40
! Ctrl+Print Screen to save the scrollback buffer to a file
URxvt.print-pipe: cat > ~/Downloads/URxvt_$(date '+%Y-%m-%d_%H:%M:%S').txt
URxvt.title: Terminal
!URxvt*termName:  xterm-256color
URxvt.loginShell:  true
URxvt*scrollstyle: rxvt
URxvt*scrollColor: #B2B2B2
URxvt*troughColor: #969696

*SimpleMenu*Cursor:     left_ptr
*Cursor:                left_ptr
*Cursor*foreground:     red
*Cursor*background:     white

!! X clock settings
*xclock.clientDecoration:   -title -resize +border
XClock.Clock.render:        true
XClock.Clock.hourColor:     rgba:00/00/01/c0
XClock.Clock.minuteColor:   rgba:11/11/11/c0
XClock.Clock.secondColor:   rgba:dd/dd/dd/80
XClock.Clock.majorColor:    rgba:22/22/00/c0
XClock.Clock.minorColor:    rgba:00/22/22/c0
XClock*renderTable:         xft
XClock*xft.fontType:        FONT_IS_XFT
XClock*xft.fontName:        Sans
XClock*xft.fontStyle:       Normal
XClock*xft.fontSize:        10
XClock*background:          gray
XClock*foreground:          black
!XClock*update:              1
XClock*geometry:            210x210-10+33

!! X calculator settings
xcalc*ti.button1.vertDistance: 4
xcalc*ti.button2.vertDistance: 4
xcalc*ti.button3.vertDistance: 4
xcalc*ti.button4.vertDistance: 4
xcalc*ti.button5.vertDistance: 4
xcalc*ti.background: gray90
xcalc*ti.bevel.borderColor: gray65
xcalc*ti.bevel.borderWidth: 1
xcalc*ti.bevel.vertDistance: 4
xcalc*ti.bevel.defaultDistance: 0
xcalc*ti.bevel.background: rgb:b/c/b
xcalc*ti.bevel.screen*background: rgb:b/c/b
xcalc*ti.bevel.screen.borderColor: rgb:b/c/b
xcalc*ti.bevel.screen.vertDistance: 10
xcalc*ti.bevel.screen.horizDistance: 10
xcalc*ti.bevel.screen*left: chainLeft
xcalc*ti.bevel.screen*right: chainRight
xcalc*ti.bevel.screen*top: chainTop
xcalc*ti.bevel.screen*bottom: chainBottom
xcalc*ti.bevel.screen*LCD.foreground: gray10
xcalc*ti.bevel.screen*INV.vertDistance: 0
xcalc*ti.Command.borderColor: gray65
xcalc*ti.Command.background: gray85
xcalc*ti.Command.foreground: gray30
xcalc*ti.button5.background:   rgb:e/b/b
xcalc*ti.button35.background:  rgb:e/d/c
xcalc*ti.button40.background:  rgb:e/d/c
xcalc*ti.button45.background:  rgb:e/d/c
xcalc*ti.button50.background:  rgb:e/d/c
xcalc*ti.button55.background:  rgb:b/b/e
xcalc*ti.button27.background: gray95
xcalc*ti.button28.background: gray95
xcalc*ti.button29.background: gray95
xcalc*ti.button32.background: gray95
xcalc*ti.button33.background: gray95
xcalc*ti.button34.background: gray95
xcalc*ti.button37.background: gray95
xcalc*ti.button38.background: gray95
xcalc*ti.button39.background: gray95
xcalc*ti.button42.background: gray95
xcalc*ti.button43.background: gray95
xcalc*ti.button44.background: gray95
xcalc*ti.button47.background: gray95
xcalc*ti.button48.background: gray95
xcalc*ti.button49.background: gray95
xcalc*ti.button52.background: gray95
xcalc*ti.button53.background: gray95
xcalc*ti.button54.background: gray95

!! X osview
!! set Decay options to True for more accurate snapshot
xosview*title:      System Status
xosview*font:       Mono-10
xosview*background: #0A3560
xosview*foreground: #2C5783
xosview*captions:   False
xosview*labels:     True
xosview*usedlabels: True
xosview*transparent:False
xosview*graphNumCols:       128
xosview*horizontalMargin:   10
xosview*verticalMargin:     6
xosview*verticalSpacing:    10
xosview*load:               True
xosview*loadCritColor:      #FC842B
xosview*loadWarnColor:      #F2EF44
xosview*loadProcColor:      #56E67B
xosview*loadIdleColor:      #03315E
xosview*loadPriority:       20
xosview*loadWarnThreshold:  15
xosview*loadCritThreshold:  18
xosview*loadDecay:          False
xosview*loadGraph:          False
xosview*loadUsedFormat:     float
xosview*loadCpuSpeed:       True
xosview*cpu:                True
xosview*cpuUserColor:       #56E67B
xosview*cpuNiceColor:       #F2EF44
xosview*cpuSystemColor:     #FC842B
xosview*cpuWaitColor:       #0ABBDA
xosview*cpuInterruptColor:  #0DA707
xosview*cpuSoftIntColor:    #AF0BEB
xosview*cpuStolenColor:     #D31B4C
xosview*cpuGuestColor:      #F90B53
xosview*cpuNiceGuestColor:  #F9608E
xosview*cpuFreeColor:       #03315E
xosview*cpuPriority:        2
xosview*cpuDecay:           False
xosview*cpuGraph:           False
xosview*cpuUsedFormat:      percent
xosview*cpuUsedDecay:       False
xosview*cpuFormat:          auto
xosview*mem:                True
xosview*memKernelColor:     yellow
xosview*memUsedColor:       #56E67B
xosview*memBufferColor:     #F2EF44
xosview*memCacheColor:      #0ABBDA
xosview*memSwapCacheColor:  #AF0BEB
xosview*memFreeColor:       #03315E
xosview*memTextColor:       blue
xosview*memOtherColor:      orange
xosview*memActiveColor:     #56E67B
xosview*memInactiveColor:   #0DA707
xosview*memWiredColor:      #FC842B
xosview*memPriority:        10
xosview*memDecay:           False
xosview*memGraph:           False
xosview*memUsedFormat:      autoscale
xosview*disk:               True
xosview*diskUsedColor:      seagreen
xosview*diskIdleColor:      #03315E
xosview*diskWriteColor:     #F2EF44
xosview*diskReadColor:      #56E67B
xosview*diskBandwidth:      6750000
xosview*diskPriority:       6
xosview*diskDecay:          False
xosview*diskUsedFormat:     autoscale
xosview*diskUsedDecay:      False
xosview*diskGraph:  False
xosview*swap:       False
xosview*filesys:    False
xosview*page:       False
xosview*wlink:      False
xosview*net:                True
xosview*netBandwidth:       6750000
xosview*netInColor:         #56E67B
xosview*netOutColor:        #F2EF44
xosview*netBackground:      #03315E
xosview*netPriority:        3
xosview*netDecay:           False
xosview*netGraph:           False
xosview*netUsedFormat:      autoscale
xosview*netUsedDecay:       False
xosview*netIface:           -lo0
xosview*irqrate:    False
xosview*interrupts: False
xosview*battery:    False
xosview*gfx:        False
xosview*serial0:    False
xosview*serial1:    False
xosview*serial2:    False
xosview*serial3:    False
xosview*RAID:       False
xosview*tzone:      False
xosview*lmstemp:    False
xosview*NFSDStats:  False
xosview*NFSStats:   False
xosview*coretemp:   False
xosview*bsdsensor:  False


!! X message dialog
xmessage*form.okay.shapeStyle: rectangle
xmessage*form.okay.background: IndianRed
xmessage*form.okay.foreground: rgb:e/b/b
xmessage*message*background: ivory3
xmessage*background: gray85
xmessage*foreground: gray15
xmessage*Scrollbar.width: 10
xmessage*Scrollbar.borderWidth: 1
xmessage*Text.?.cursorColor: rgb:d/5/5
xmessage*Text.borderColor: gray65
xmessage*Text*background: gray95
xmessage*Command.highlightThickness: 1
xmessage*Command.internalWidth: 5
xmessage*Command.internalHeight: 3
xmessage*Command.borderColor: gray40
xmessage*Command.shapeStyle: Rectangle
xmessage*Command.background: gray80
xmessage*faceName: DejaVu Sans Mono
xmessage*faceSize: 12
xmessage*message.scrollVertical: Always
xmessage*message.scrollHorizontal: Never
! add keyboard shortcuts to easily quit program
xmessage*baseTranslations:#augment\
        <Key>Return:exit()\n\
        <Key>space:exit()
